.encabezado{
	background-color: yellow;
	border: 1px solid black;
	display: inline-block;
	width: 754px;
	text-align: center;
	position: absolute;
	font-size: 17px;
}
.antes{
	border: 1px solid black;
	text-align: center;
	width: 250px;
	float: left;
}
p{
	display: inline-block;
	margin: 5px;
}
.monopoly{
	border: 1px solid black;
	text-align: center;
	width: 250px;
	height: 383px;
	float: left;
	
}
.ahora{
	border: 1px solid black;
	text-align: center;
	float: left;
	width: 250px;
	height: 383px;
}
.foot{
	border: 1px solid black;
	text-align: center;
	position: absolute;
	background-color: yellow;
	width: 754px;
	top: 390px;
}


